.loading {
    display: flex;
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: 100;
    background: black;
    justify-content: center;
    align-items: center;
}
.loadingspan {
    display: flex;
    height:200px;
    width: 200px;
    border: 4px solid white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.circleline {
    display: flex;
    height:209.5px;
    width:209.5px;
    justify-content: center;
}
.circle {
    display:flex;
    height:15px;
    width:15px;
    background:white;
    border-radius: 50%;
}
.items_wrapper {
    display: flex;
    position: fixed;
    left:0px;
    padding:60px;
    width:100%;
    flex-direction: row;
    justify-content: space-around;
    height:100vh;
    background:white;

}
.intro{
    display: flex;
    position: fixed;
    width:80%;
    flex-direction: column;
}
.intro h1 {
    display: flex;
    width: 100%;
}
.intro p{
    display: flex;
    text-align: justify;
}

.items_wrapper .item {
    display: flex;
    width: 80%;
    /* min-height:500px; */
    border: 1px solid rgb(101, 53, 233);
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
}
.items_wrapper .item .title {
    display: flex;
    font-size: 70px;
    margin:0px;
    padding:10px;
    font-weight: 500;
}
.showpost {
    display: block;
    position:relative;
    margin: 5px;
    width:90%;
    white-space: nowrap;
}
.posttitle {
    margin:0px;
    display: block;
    padding:5px;
    font-size: 30px;
    font-weight: 300;
    width: 100%;
    overflow:hidden;
    text-overflow: ellipsis;
}
.postcontent {
    display:block;
    margin:0px;
    padding:5px;
    font-size: 20spx;
    width:100%;
    overflow:hidden;
    text-overflow: ellipsis;
}
.linktag {
    text-decoration: none;
    color:black;
    overflow: hidden;
}
.linktag:visited {
    text-decoration: none;
    color: black;
}
.slidein {
    animation-name: slidein;
    animation-duration: 5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
@keyframes slidein {
    from {
        margin-left: 0%;
    }
    to {
        margin-left: -100%;
    }

}
@media screen and (max-width:768px) {
    .items_wrapper {
        flex-direction: column;
    }
    .items_wrapper .item {
        width: 100%;
        margin-bottom: 10px;
    }
    .posttitle {
        font-size: 30px;
    }
}