.contentnumbers {
    display: flex;
    position: fixed;
    top:40%;
    right:10px;
    z-index: 10;
    width: 0px;
    flex-direction: column;
    border-radius: 10%;
    transition-duration: 0.5s;
}
.contentnumbers.active{
    width:50px;
    border:1px solid black;
}
.contentnumbers img {
    position: absolute;
    left:-40px;
    height:40px;
    width:40px;
}
.contentnumbers span {
    display: flex;
    cursor: pointer;
    width: 0px;
    overflow:hidden;
    transition-duration: 0.5s;
}
.contentnumbers span.active {
    font-weight: 700;
    width:50px;
}
.upDown {
    width: 50px;
    height: 15px;
}