.sidebar {
    display: flex;
    position: sticky;
    top:0px;
    width: 0px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin:0px;
    background: #320748;
    transition: 0.5s;
}
.sidebar.visible {
    width: 60px;
}
.sidebar.active {
    width: 300px;
}
.sidebar .items {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width:300px;
    height:fit-content;
    overflow-x: hidden;
    transition-duration:1s;
}
/* .sidebar .sidebar_button {
    position: relative;
    display: flex;
    height:20px;
    width: 60px;
    overflow:hidden;
    background:#2c053f;
    transition: 0.5s;
    justify-content: center;
}
.sidebar .downbutton {
    
    border-top: 1px solid black;
}
.sidebar .upbutton {
    
    border-bottom: 1px solid black;
} */
.sidebar.active .sidebar_button {
    width:300px;
    transition: 0.5s;
}
.sidebar .sidebar_button .move{
    height:20px;
    width:20px;
    display: flex;
}
.sidebar .items .itembox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:60px;
    transition-property: background,height;
    transition-duration: 2s, 1s;
    color:white;
}
.sidebar.active .items .itembox.clicked {
    height:0px;
}
.sidebar.active .items .itembox.active {
    background: rgb(228, 129, 16);
    transition-property: background;
    transition-duration: 2s;
}
.sidebar .items .itembox .item {
    display: flex;
    width: 100%;
    height:fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.sidebar .items .itembox .item .menubar_icon {
    display: flex;
    width: auto;
    height:60px;
    padding:10px;
}
.sidebar .items .itembox .item h4 {
    display: flex;
    margin:0px;
}
/* .sidebar ul li {
    display: flex;
    width: 100%;
    height:0;
    list-style: none;
    padding-left:80px;
    transform: scaleY(0);
    transition: all 2s ease;
}
.sidebar.active ul.active li,
.sidebar.hover ul.hover li {
    display: flex;
    height:20px;
    transform: scaleY(1);
    transition: all 0.5 ease;
} */
.linktag {
    text-decoration: none;
    color:white;
}
.linktag:visited {
    text-decoration: none;
    color: white;
}
.sidebar_icon {
    width: 0;
    height:0;
    top:0px;
    right:0px;
    position: fixed;
    z-index: 40;
}
.sidebar::-webkit-scrollbar {
    width:5px;
}
.sidebar::-webkit-scrollbar-thumb {
    width: 5px;
    background-color:thistle;
    border-radius: 10%;
}
.sidebar::-webkit-scrollbar-track {
    background:none;
}
.sidebar::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
@media screen and (max-width:768px) {
    .sidebar{
        position: fixed;
        width: 0px;
        height: 100%;
        background: #320748;
        transition-duration: 0.5s;
        overflow-y: auto;
        z-index: 20;
    }
    .sidebar::-webkit-scrollbar {
        width:5px;
    }
    .sidebar::-webkit-scrollbar-thumb {
        width: 5px;
        background-color:thistle;
        border-radius: 10%;
    }
    .sidebar::-webkit-scrollbar-track {
    background:none;
    }
    .sidebar::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
    }
    .sidebar.visible {
        width:100%;
    }
    .sidebar_icon {
        width:40px;
        height:40px;
    }
}
